# Virtual environments
venv/
.venv/

# Compiled Python Files
__pycach__/
__pycache__/
# IDE files
.vscode/
*.swp

# ros dump
build/
install/
log/

rviz-plugin-zed-od/
zed_display_rviz2/